[defaults]
inventory = inventory/prod
callback_whitelist = os_profiler
gathering=smart
fact_caching=jsonfile
fact_caching_connection=$HOME/.ansible/facts
fact_caching_timeout=600
host_key_checking=False
ansible_python_interpreter = '/usr/bin/env python3'

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r
